
  <div class="pokemon_header_image">
    <img src="https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/d6771837-725e-4247-9018-8e7d4e34e9df/d96qqpq-480e9880-4ba9-4418-ba71-15ca1fb74588.png/v1/fill/w_1024,h_265,q_80,strp/pokemon_header_by_lake90_d96qqpq-fullview.jpg?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7ImhlaWdodCI6Ijw9MjY1IiwicGF0aCI6IlwvZlwvZDY3NzE4MzctNzI1ZS00MjQ3LTkwMTgtOGU3ZDRlMzRlOWRmXC9kOTZxcXBxLTQ4MGU5ODgwLTRiYTktNDQxOC1iYTcxLTE1Y2ExZmI3NDU4OC5wbmciLCJ3aWR0aCI6Ijw9MTAyNCJ9XV0sImF1ZCI6WyJ1cm46c2VydmljZTppbWFnZS5vcGVyYXRpb25zIl19.92I9dk-fopE0jJtnNIeMJzPkvvYHh30i0CWlN6nVJ5k" alt="Pokemon Header Image">
  </div>

  <h2>Gotta catch them all!!</h2>

  <nav>
    <a routerLink="/dashboard" appLinkBackground>Dashboard</a>
    <a routerLink="/pokemons" appLinkBackground>Pokemons</a>
    <!--<a routerLink="/private" appLinkBackground>Private</a>-->
    <a routerLink="/login" appLinkBackground>Login</a>
    <a routerLink="/edit" appLinkBackground>Edits</a>
  </nav>

  <router-outlet></router-outlet>



