<div>
  <div class="with-icon">
    <img src="https://cdn-icons-png.flaticon.com/256/528/528101.png" alt="Ícone" class="icon">
    <h3>
      Pokémon, short for "Pocket Monsters," is a globally beloved franchise that originated in Japan and has become a cultural phenomenon since its debut in the 1990s.
      The franchise revolves around fictional creatures called Pokémon, which humans, known as Pokémon Trainers, catch and train to battle each other for sport.
      With a vast and diverse array of species, each Pokémon possesses unique abilities, characteristics, and types.
      The goal of a Pokémon Trainer is to become a Pokémon Master by capturing and training a diverse team, challenging other Trainers,
      and overcoming various regions' Pokémon Gyms and leagues. Beyond video games, Pokémon includes an animated TV series, trading card game, movies, merchandise,
      and a passionate global community of fans.
    </h3>
  </div>

 

  <p>Welcome to the pokemon world!</p>

  <img src="https://media1.giphy.com/media/v1.Y2lkPTc5MGI3NjExOXJ5N25yNncyc2lxYjBrZGM0ZW1ibWo2aW0xMDlqMmxndmdxNGt4OSZlcD12MV9pbnRlcm5hbF9naWZfYnlfaWQmY3Q9Zw/8UGGp7rQvfhe63HrFq/giphy.gif" alt="~Gif">
</div>


