p {
    margin-top: 10px;
  text-align: center;
  color: #452828; 
  font-family: 'Yu Gothic'; 
  margin-bottom: 20px; 
}
img {
  display: block;
  margin: 0 auto;
  margin-bottom: 10px;
}


h3 {
  margin-top: 15px;
  font-family: Candara;
  font-size: 12px;
  line-height: 1.5;
  color: #333;
  margin-bottom: 20px;
}

.with-icon {
  display: flex;

}

.icon {
  width: 1em; 
  height: 1em;
  margin-right: 10px;
  vertical-align: text-top;
  margin-left: 10px;
}


